ASC_ISSUER_ID="69a6de78-ba5a-47e3-e053-5b8c7c11a4d1"
ASC_KEY_ID="WZBYHD6QVD"
ASC_KEY_FILE="/Volumes/Crucial X6/@CodexAPP 13套戰略/永久列管/AuthKey_WZBYHD6QVD.p8"
APP_IDENTIFIER="com.taiwanarch.oshfacilities.illustrated"
APP_TEAM_NAME="Yu Shiung Jiang"
IPA_PATH="/Volumes/Crucial X6/@CodexAPP 13套戰略/@職業安全衛生設施規則/xcode-project/build/export-appstore/職業安全衛生設施規則全圖解.ipa"
IAP_PRODUCT_ID="com.taiwanarch.oshfacilities.illustrated.full"
