.DS_Store
._*
.env.fastlane
**/xcuserdata/

build/
DerivedData/
*.xcarchive
*.ipa

TaiwanBuildingCode/Resources/images_legacy_interior_backup/
_legacy_InteriorRenovationIllustrated.xcodeproj/

fastlane/screenshots-backup/
fastlane/report.xml
fastlane/Preview.html

AppStoreConnect/*.json
AppStoreConnect/*.zip
